@import "@/styles/mixin.scss";

.container {
  @include backGroundColor();
  @include pageContainer();
  padding-bottom: 150px;

  .titleContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding-top: 5vw;
    margin: 0px auto;

    .title {
      color: white;
      font-size: 40px;
      margin: 20px 0px;
    }

    .description {
      color: white;
      margin: 2.5px 0px;
    }
  }

  .inputContainer {
    position: relative;
    width: 500px;
    margin: 0px auto;
  }

  .tableContainer {
    position: relative;
    background-color: white;
    width: 80vw;
    margin: 0px auto;
    margin-top: 150px;
    padding: 10px 20px;

    border-radius: 20px;
    overflow: hidden;

    .dayHeading {
      margin-bottom: 15px;
      margin-left: 10px;
    }

    .dayContainer {
      margin-bottom: 15px;
      border-radius: 20px;
      overflow: hidden;
    }
  }
}
